[Unit]
Description=ACRN manager daemon
After=systemd-resolved.service
After=life_mngr.service
After=weston.service
ConditionPathExists=/dev/acrn_hsm

[Service]
Type=simple
ExecStart=/usr/bin/acrnd -t
ExecStop=/usr/bin/bash -c "/usr/bin/acrnctl list | /usr/bin/awk '{print $1}' | /usr/bin/xargs -n1 acrnctl stop -f"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
